<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="nav"><nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#!">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div th:if="${session.mb == null}" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="../">Board</a></li>
        <li class="nav-item"><a class="nav-link" href="../members/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="../members/register">Register</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
      </ul>
    </div>
    <div th:if="${session.mb != null}" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="../">Board</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{'/members/' + ${session.mb.seq}}"><span th:text="${session.mb.name}"/></a></li>
        <li class="nav-item"><a class="nav-link" href="../boards/reg-form">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="../members/logout">Logout</a></li>
        <li th:if="${session.mb.email eq 'root201912012@induk.ac.kr'}"><a class="nav-link" th:href="@{'/members/'}">MemberList</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</nav></div>
</body>
</html>